.buttons{
  margin: 0 auto;
  width: 60%;
  button{
    position: relative;
    svg{
      position: absolute;
      left: 10px;
      height: 24px;
      width: 24px;
    }
  }
}
.bottomButtons{
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 30px;
  button{
    height: 40px;
    svg{
      position: static;
    }
  }
}

.backTitle{
  display: flex;
  align-items: center;
  svg{
    cursor: pointer;
    margin-right: 5px;

  }
}